

<div class="row marketing">

<div id="sandbox-container" style="width: 200px">
<jo-date class="input-group date" ng-model="myDate" options="myDateOptions" on-change="myDateFormat(date, event)">
  <input type="text" class="form-control">
  <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
</jo-date>
</div>
My date: {{myDate}}
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
